/* Images */

* {
	box-sizing: border-box;
}

body {
	background: rgb(35,158,252);
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 16px;
	margin: 0.25em;
	background-image: url(img/fern.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

img {
	max-width: 100%;
}

.grid {
	display: flex;
	flex-wrap: wrap; 
}

.item {
	width: 25%;
	padding: 0.25em;
}

.rounded-corners {
	border-radius: 2em;
	position:fixed;
	bottom: 1em;
	right: 1em;
	transform: rotate(45deg);
	width: 16em;
}














